[submodule "lib/fbml"]
	path = lib/fbml
	url = https://github.com/MasazumiImai/fbml.git
[submodule "lib/trajectory_generator"]
	path = lib/trajectory_generator
	url = https://github.com/MasazumiImai/trajectory_generator.git
[submodule "lib/RAMP"]
	path = lib/RAMP
	url = git@github.com:Space-Robotics-Laboratory/RAMP.git
