<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mlivr_gripper" params="prefix parent">

      <link name="${prefix}_link_ee">
        <inertial>
          <mass value="0.5"/>
          <origin xyz="0 0 0.025" rpy="0 0 0"/>
          <inertia ixx="0.000433" ixy="0" ixz="0" iyy="0.000433" iyz="0" izz="0.00045"/>
        </inertial>
        <visual>
          <origin xyz="0 0 0.025" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="0.03" length="0.05"/>
          </geometry>
          <material name="gray">
            <color rgba="0.5 0.5 0.5 1.0"/>
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0.025" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="0.03" length="0.05"/>
          </geometry>
        </collision>
      </link>

      <joint name="${prefix}_joint_ee" type="fixed">
        <parent link="${parent}"/>
        <child link="${prefix}_link_ee"/>
        <origin xyz="0 0 0.045" rpy="0 0 0"/>
      </joint>

      <joint name="${prefix}_joint_gripper" type="fixed">
        <parent link="${prefix}_link_ee"/>
        <child link="${prefix}_link_gripper"/>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
      </joint>

      <link name="${prefix}_link_gripper">
      </link>

  </xacro:macro>

</robot>
